<div class="front-background">
  <div class="front-container">
    <h1>О Проекте</h1>
    <p>Мы очень не любим тратить время на поиски одежды подходящего размера в бутиках
        и торговых центрах. Поэтому мы сделали сервис по созданию одежды онлайн.
        Современные технологии позволяют создавать тысячи вариантов рубашек
        за экраном компьютера, а также автоматизировать пошив и добиться выского
        качества одежды. Благодаря этому мы можем Вам предложить
        качетвенные, идеально сидящие рубашки по приемлемой цене!</p>
    <br/>
    <h1>Контакты</h1>
    <p>email: info@newmill.ru</p>
  </div>
</div>

