<div class="front-background">
  <div class="front-container">
    <h1>Гарантии и условия приобретения</h1>
    <ul>
      <li>Цена любой рубашки 3000 руб.</li>
      <li>Срок изготовления и доставки не более 2 недель</li>
      <li>Вы можете самостоятельно снять все размеры,
        или бесплатно вызвать нашего замерщика</li>
      <li>В случае если рубашка Вам не понравилась, ее можно вернуть в течение 30 дней</li>

    </ul>
    <form action="<%= new_order_path %>">
      <input type="submit" class="btn btn-primary btn-lg" value="Выбрать рубашку"/>
    </form>
  </div>
</div>

