<div class="front-background">
  <div class="front-container">
    <h1>Условия приобретения</h1>
    <ul>
      <li>Цена любой рубашки 3000 руб.</li>
      <li>Срок изготовления и доставки не более 2 недель</li>
      <li>В случае если рубашка Вам не понравилась в течение 30 дней, ее можно вернуть</li>

    </ul>
    <form action="<%= new_order_path %>">
      <input type="submit" class="btn btn-primary btn-lg" value="Выбрать рубашку"/>
    </form>
  </div>
</div>

