<div class="front-background">
  <div class="front-container">
    <h1>Условия</h1>
    <p>...</p>

    <form action="<%= new_order_path %>">
      <input type="submit" class="btn btn-primary btn-lg" value="Узнать больше"/>
    </form>
  </div>
</div>

