<div class="front-background">
  <div class="front-container">
    <div class="row">
      <div class="col-xs-6">
        <h1>Онлайн ателье рубашек</h1>
        <p>Мы предлагаем выбор среди миллионов рубашек на любой вкус. Прямо на нашем сайте
          вы сможете выбрать внешний вид рубашки и увидеть как она будет выглядеть в реальности.
          Мы <a href="/details" style="color: #2FB0F8">гарантируем</a> качество рубашки: Вы будете довольны качеством и размерами или просто вернете нам ее назад.
          </p>
        <form action="<%= new_order_path %>">
          <input type="submit" class="btn btn-primary btn-lg" value="Выбрать рубашку"/>
        </form>
      </div>
      <div class="col-xs-6">
        <%=render partial: "shirts_carousel"%>
      </div>
    </div>
  </div>
</div>

