<div class="demo-container">
  <div class="base piece"></div>
  <div class="base-inner piece"></div>
  <div class="base-buttons piece"></div>
  <div class="sleeves piece"></div>
  <div class="collar piece"></div>
  <div class="collar-inner piece"></div>
  <div class="collar-buttons piece"></div>
  <div class="cuffs piece"></div>
  <div class="cuffs-inner piece"></div>
  <div class="cuffs-buttons piece"></div>
</div>