<div class="material-container <%=name%>">
  <%@names.length.times do |i|%>
      <div id="<%= i %>" class="material-cell" fabric-name="<%= @names[i] %>" style="background-position: left -<%=@pos[i]%>px"></div>
  <%	 end %>
</div>