<div class="material-container">
  <table>
    <tbody>
    <% 25.times do |row| %>
        <tr id="<%= row %>">
          <% 5.times do |col| %>
              <% if row*5+col < 123 %>
                  <td id="<%= row*5+col %>" class="material-cell" fabric-name="<%= @names[row*5+col] %>" style="background-position: left -<%=@pos[row*5+col]%>px"></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>