<div class="row">
  <div class="col-lg-3">
    <div class="size-container">
    <img src="/images/size_neck.jpg" alt=""/>
      <h3>Размер шеи</h3>
      <%= select("size", "neck", ["Не знаю"] + (20..80).to_a)%>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="size-container">
      <img src="/images/size_sleeve.jpg" alt=""/>
      <h3>Размер рукава</h3>
      <%= select("size", "neck", ["Не знаю"] + (50..130).to_a)%>
      <br/>
      <br/>
      <br/>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="size-container">
      <img src="/images/size_chest.jpg" alt=""/>
      <h3>Размер груди</h3>
      <%= select("size", "neck", ["Не знаю"] + (50..230).to_a)%>
      <br/>
      <br/>
      <br/>
    </div>


  </div>
  <div class="col-lg-3">
    <div class="size-container">
      <img src="/images/size_waist.jpg" alt=""/>
      <h3>Размер талии</h3>
      <%= select("size", "neck", ["Не знаю"] + (50..230).to_a)%>
      <br/>
      <br/>
      <br/>
    </div>


  </div>
</div>

<br/>
<br/>

<div style="text-align: right">
  <button class="btn btn-primary btn-lg">Далее</button>
</div>
