<%=render partial: "shared/material_container", locals: {name: "base-material-container"}	  %>
<%=render partial: "shared/demo_container"	  %>

<h1>New order</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
