@import "fonts";
@import "pre_bootstrap";
@import "bootstrap";
@import "orders";
@import "scaffolds";
@import "front";

p {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

.header {
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  width: 100%;
  margin: 0;
  h1{
    margin:10px;
    color:rgb(200, 200, 200);
  }
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: -1;
}
