.front-background {
  background-image: url("/images/front_background.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.front-container {
  color:rgb(200, 200, 200);
  padding: 30px;
  position: relative;
  width: 90%;
  height: 80%;
  top:15%;
  min-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);

  .row {
    height: 100%;
    div {
      height: 100%;
    }
  }

  h1 {
    margin: 0px 0px 10px 0px;
  }

  ul li {
    font-size: $font-size-base*1.25;
    line-height: $font-size-base*1.25;
    font-family:$font-family-base;
    margin-bottom: 20px;
  }

  p {
    font-size: $font-size-base*1.25;
    line-height: $font-size-base*1.25 * 1.25;
    margin-bottom: 20px;
  }
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}