.front-background {
  background-image: url("/images/front_background.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.front-container {
  color:rgb(200, 200, 200);
  padding: 40px;
  position: relative;
  width: 90%;
  height: 60%;
  top:25%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}