// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.constructor-container {
  padding-top: 65px;
  @include gradient-vertical-three-colors(#f8fbf6, #aacedc, 75%, #bed3f2)
}


.tab-content {
  max-height: 680px;
  overflow: scroll;

}

.material-container {
//  width: 600px;
  .material-cell {
    @include bordered;
    width: 90px;
    height: 90px;
    margin:1px;
    display: inline-block;
    background-image: url("/images/fabrics.jpg");
  }
}

.demo-container {
  margin: 0 auto;
  width: 490px;
  height: 660px;
  position: relative;

  .piece {
    position: absolute;
    top:0px;
    left:0px;
    width: 490px;
    height: 660px;
  }

  .base {
    z-index: 2;
    background: url("/images/BSH498_front_base_slim.png");
  }
  .base-inner {
    z-index: 11;
  }
  .base-buttons {
    z-index: 3;
  }
  .sleeves {
    z-index:3;
    background: url("/images/BSH498_front_sleeves_short_slim.png");
  }
  .collar {
    z-index:4;
  }
  .collar-inner {
    z-index:5;
  }
  .collar-buttons {
    z-index:6;
  }
  .cuffs {
    z-index:4;
  }
  .cuffs-inner {
    z-index:5;
  }
  .cuffs-buttons {
    z-index:6;
  }
}

.order-form {
  padding: 10px 20px;
}

.demo-pane {
  position: relative;
}

.popover {
  max-width: none;
//  width: 720px !important;
}

.order-block {
  position: absolute;
  right: 20px;
  top: 0px;
  text-align: right;
  z-index:100;
}

.selection-pane {
  padding: 0px;
}



.nav-stacked {
  font-size: 20px;
}

.tab-content {
  text-align: center;
}

.item-tabs li{
  font-family: $font-family-base;
}

.tab-content, .item-tabs, .demo-pane {
  @include bordered;;
  margin:5px 0px;
  padding: 10px;
  background-color: rgba(255,255,255,0.3);
  height:680px;
}

.row {
  margin:0px;
}

//
//.item-tabs {
//  position: relative;
//  left:20px;
//}
.col-lg-4, .col-lg-6, .col-md-6, .col-sm-6, .col-lg-8 {
  padding: 0px 5px;
}

ul li a:hover {
  color: rgb(128, 119, 116);
}

.item-cell {
  display: inline-block;
  width: 180px;
  height: 180px;
  background-size: cover;
  @include bordered;
}