<!DOCTYPE html>
<html>
<head>
  <title>Миллион</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid body">
    <div class="front-background">
      <div class="front-container">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>